body {
    background: rgb(124, 10, 119);
    background: linear-gradient(90deg, rgba(124, 10, 119, 0.7859476554293592) 0%, rgba(38, 42, 173, 1) 35%, rgba(0, 131, 157, 1) 100%);
    color:bisque
}



body h2 {
    text-align: center;
}