
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 50px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 6;
    background-color: #0061c1;
    // background: radial-gradient(circle, rgba(51,209,217,1) 0%, rgba(13,12,175,1) 100%);     box-shadow: 5px 5px 6px #003366,
    //     -5px -5px 6px #00cdff;
    place-items: center;
}

    .div1 h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }


.div2 {
    grid-area: 2 / 1 / 4 / 2;
    
}



.div3 {
    grid-area: 2 / 2 / 4 / 6;
    background-color: rgb(2, 150, 248);
    border-radius: 44px;
    background: radial-gradient(circle, rgba(51,209,217,1) 0%, rgba(13,12,175,1) 100%);     box-shadow: 5px 5px 6px #384d25,
        -5px -5px 6px rgb(36, 92, 4);
    padding: 5%;
}